body {

    position: relative;
}

.App {
    display: grid;
    height: 100%;
    width: 100%;
}

.h2 {
    display: grid;
    justify-self: center;
    grid-column: 1 / 3;
    margin: 10px;
}

.column {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 10px;
}

.one_photo {
    display: grid;
    grid-column: 1 / 4;
    text-align: center;
}

.photo_p {
    grid-column: 1 / 4;
    justify-self: center;
    margin: 10px 10px 30px;
}

.photo_thumbnail {
    justify-self: center;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 5px;
}

.img_thumbnail {
    width: 200px;
    height: 200px;
}

.small_img_thumbnail {
    width: 50px;
    height: 50px;
}

.big_img_thumbnail {
    width: 70%;
}

.big_img_div {
    width: 80%;
    position: fixed;
    top: 100px;
    left: 10%;
}

.add_cocktail {
    display: grid;
    justify-self: right;
}

.form_div {
    display: grid;
    grid-template-columns: auto;
    width: 50%;
    justify-self: center;
}

.form {
    display: grid;
    grid-row-gap: 10px;
    grid-template-columns: auto;
    padding: 10px;
}

.nav_bar {
    display: grid;
    grid-template-columns: 20% 20% 20% 40%;
}

.nav_bar2 {
    display: grid;
    grid-template-columns: repeat(2, auto);
    padding-left: 100px;
}

.invalid-feedback,
.alert {
    color: red;
}

.main_register_div,
.main_login_div,
.main_div {
    display: grid;
}

.main_nav {
    display: grid;
    grid-template-columns: 20% auto;

}

.user_menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-items: baseline;
}

.anonymous_menu {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.menu_li {
    display: inline;
    margin-left: 50px;
}

.active {
    color: limegreen;
}

.delete_btn {
    background: red;
    height: 20px;
}

.publish_btn {
    background: limegreen;
    height: 20px;
}

.photo_thumbnail {
    display: grid;
    grid-template-columns: 210px;
    margin-bottom: 15px;
    background: honeydew;
}

.one_cocktail_thumbnail {
    display: grid;
    grid-template-columns: 200px auto;
}

.not_published {
    background: orange;
    width: fit-content;
}

.facebook_link,
.photo_p,
.photo_title {
    color: rgb(0, 0, 238);
    cursor: pointer;
    text-decoration: underline;
}

.cocktail_description {
    height: 120px;
    overflow: auto;
}

.cocktail_recipe,
.cocktail_ingredients_text {
    text-align: left;
}

.pop_up {
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    text-align: center;
}

.border {
    color: #fff;
    font-weight: bolder;
}

.user_info {
    display: grid;
    grid-template-columns: auto auto 20px auto;
}